<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <center>
        <h1>Welcome To Hell</h1>
        <h3>{{User_em}}, Hi ! {{user_em}}</h3>
        <a href="change_password">Change Password</a>
        <a href="Transaction">Transaction</a>
        <a href="logout">Logout</a>
        <br><br><br><br>
    </center>
    <center>
        <h1>Change Password</h1>
        <form action="change_password" method="post">
            {% csrf_token %}
            Enter Old Password <input type="password" name="old" required><br><br>
            Enter New Password <input type="password" name="new" required><br><br>
            Confirm Password <input type="password" name="cpass" required><br><br><br><br>
            <button>Change Password</button>
        </form>
        <h3>
            {% if message %}
            <h3>{{message}}</h3>
            {% endif %}
        </h3>
    </center>
</body>
</html>