<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body> 
    <h1 class="text-center">Boostrap using pip install</h1>
    {% include "Common_Header_Footer/Header.html" %}
    <div class="row">
        <div class="col-sm-4" style="border: 1px solid blue">
        1
        </div>
        <div class="col-sm-4" style="border: 1px solid red">
            2
        </div>
            <div class="col-sm-4" style="border: 1px solid yellow">
                3
         </div>

    </div>
</body>
</html> 