<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odd & Even</title>
</head>
<body>
    <h1 align="center">Odd(Red) & Even(Green) List</h1>
    <table align="center" border="1">
        <thead>
            <tr>
                <td>Odd Even Record</td>
                <td>Boy Stand For Odd & Girl Stand For Even</td>
            </tr>
        </thead>
        <tbody>
            {% for value in data %}
            <tr>
                <td> {{value}}</td>
                {% if value | divisibeby:"2" %}
                <td style="color: green;">Girl</td>
                {% else %}
                <td style="color: red;">Boy</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>