<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
</head>
<body>
    <center>
    <h1>Welcome To Hell {{Name}}</h1>
    <p>User Email id :</p><h1>{{user_em}}</h1>
        <p>Hi {{Name}}</p>
        <a href="Transaction">Transaction</a>
        <a href="logout">Logout</a>
    </center>
    <center>
    <h1>Account no : 8765424367 , 2024 September Month Transaction Details Here</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae saepe, quia quod eaque odio tenetur recusandae iure ex, esse,  
       at modi cum? Debitis deserunt blanditiis excepturi, fugit qui maiores perferendis.</p>
    </center>
    </body>
</html>