<center>
    <a href="../Learning_Django_About_Us">About Us</a>
    <a href="../">Home</a>
    <a href="../contact_page">Contact Us</a>
    <a href="../gallery_page">Gallery</a>
    <a href="../login_page">Login</a>
    <a href="../Teacher/Login_Teacher">Teacher Access</a>
    <a href="../Teacher/About_Teacher">About Teachers</a>
    <a href="../Student_list">Student View</a>
    <a href="../Student_merit_list">Student Roll List(Merit)</a>
    <a href="../Counting">Odd & Even List 1 to 50</a>
    <a href="../Admission_Process">Admns Enroll</a>
</center>