<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .abc {
            text-align: center;
            color: green;
            background:wheat;
        }
    </style>
</head>
<body>
    <h1 align = "center"> Welcome To Html Page</h1>
    <center>
        <a href="Learning_Django_About_Us">About Us</a>
        <a href="../">Home</a>
    </center>
    <h1 style="text-align: right;color: red;">Welcome To Home</h1>
    <h1 class="abc">Welcome To Lahore</h1>
</body>
</html>