{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/css/my.css"> -->
    <link rel="stylesheet" href="{% static 'css/my.css'%}">
    <script src="{% static 'js/hi.js'%}"></script>
    <style>
        .abc {
            text-align: center;
            color: green;
            background:wheat;
        }
    </style>
</head>
<br>
    <h1 align = "center"> Welcome To Html Page</h1>
    {% include "Common_Header_Footer/Header.html" %}
    <hr>
    <center>
        <a href="Find_sum_page">Find Sum</a>
        <a href="find_multi">Find Multiplication</a>
        <a href="student_save">Add Student</a>
        <a href="Employee_Add">Employee Add</a>
        <a href="Employee_Delete">Employee Delete</a>
        <a href="Employee_Update">Employee Update</a>
    </center>
    <h1 style="text-align: right;color: red;">Welcome To Home</h1>
    <h1 class="abc">Welcome To Lahore</h1>
    <h1 class="hello">My name is Django</h1>
    <img src="../static/images/img.jpg" width="200", height="200" >
    <button onclick="Test()">Click Here</button>
</body> 
</html>
