{% extends "Master_Page/Master.html" %}

{% block content %}
<div class="container">
    <div class = "row">
        <div class="col-sm-4" style="border: 1px solid red;">
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi sint tempore quam exercitationem in? Eum magni officia doloribus deserunt exercitationem,
            optio totam maxime necessitatibus. Quo fugit accusamus quis cupiditate eum! </p>
        </div>

        <div class="col-sm-4 offset-sm-1" style="border: 1px solid blue;">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vel ab, laboriosam veritatis in repellendus ducimus 
            dolore, cum iusto sint possimus totam aut eum, accusantium quas fuga voluptates odio ea! </p>
        </div>

    </div>
</div>


{% endblock %}